<div class="lyrics-cc">
	<div class="lyrics-block">
		<div class="block-name">Verse 1</div>
		<div class="lyrics">
			<div class="lyric active">You are my vision, O king of my heart</div>
			<div class="lyric">Nothing else satisfies, only You, Lord</div>
			<div class="lyric">You are my best thought by day or by night</div>
			<div class="lyric">Waking or sleeping, Your presence, my light</div>
		</div>
	</div>
</div>
