<!-- Left Pane -->
<div class="page-library_left">
	<div class="order-of-service">
		{{service-oos-list
			service=service
			selectedItem=selectedItem
			store=store
			selectItemAction="selectItem"
			createNewServiceAction="createNewService"}}
	</div>
</div>

<!-- Middle Pane -->
<div class="page-library_middle">

	<div class="library-category-selectors">
		<div class="head">Libraries</div>
		{{library-category-selector
			targetCategoryIdentifier="songs"
			displayName="Songs"
			currentCategoryIdentifier=currentCategoryIdentifier
			activateAction="activateCategory"}}
	</div>

	<div class="library-category-cc">

		{{library-songs
			categoryIdentifier="songs"
			store=store
			currentCategoryIdentifier=currentCategoryIdentifier
			addSongToServiceAction="addSongToService"}}

	</div>

</div>

