<!-- Left Pane -->
<div class="page-library_left">
	<div class="order-of-service">
		<div class="head">
			<div class="burger dark">
				<i class="fa fa-bars"></i>
			</div>
			<div class="name">{{service.name}}</div>
		</div>		
		<div class="items">
			{{#each item in service.items}}
				{{service-oos-item item=item selectAction="selectItem" selectedItem=selectedItem}}
			{{/each}}
		</div>
	</div>
</div>

<!-- Middle Pane -->
<div class="page-library_middle">

	<div class="library-category-selectors">
		<div class="head">Libraries</div>
		{{library-category-selector
			targetCategoryIdentifier="songs"
			displayName="Songs"
			currentCategoryIdentifier=currentCategoryIdentifier
			activateAction="activateCategory"}}
	</div>

	<div class="library-category-cc">

		{{library-songs
			categoryIdentifier="songs"
			store=store
			currentCategoryIdentifier=currentCategoryIdentifier
			addSongToServiceAction="addSongToService"}}

	</div>

</div>

