@import "fonts";
@import "libs/reset";
@import "mixins";

.top-bar {
	background-color: #F0F0F0;
	border-bottom: #EEEEEE;
	padding: 5px;
}

/*************/
/* Variables */
/*************/

$color-active: #A10000;
$color-active-light: #C50000;

/***************/
/* App General */
/***************/

html,
body, // container for application.hbs
body>.ember-view, // container for index.hbs
body>.ember-view>.ember-view, // container for psalmist-application.hbs
.page {
	height: 100%;
}

.app {
	display: flex;
	flex-flow: column;
	height: 100%;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.2px;

	main {
		flex: 1;
	}

	a {
		text-decoration: none;
	}

	* {
		box-sizing: border-box;
	}
}

header {
	display: flex;
	background: linear-gradient(to bottom, #2d0909 30%, #520000 100%);
	font-size: 16px;
	line-height: 20px;

	nav {
		display: flex;
		.app-nav-link {
			.link {
				opacity: 0.8;
				transition: opacity 150ms ease;
				padding: 10px 15px;
				cursor: pointer;
				color: rgba(255, 255, 255, 0.9);
			}
			&:hover {
				.link {
					opacity: 1;
				}
			}
			&.active {
				background-color: rgba(0,0,0,0.5);
				cursor: default;
				.link {
					opacity: 1;
				}
			}
		}
	}

	.logo {
		padding: 10px 15px;
		text-transform: uppercase;
		letter-spacing: 6px;
		color: #FFFFFF;
		background: -webkit-linear-gradient(#FFF 50%, rgba(255, 255, 255, 0.3));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

main {
	position: relative;

	.page {
		position: absolute;
		width: 100%;
	}
}

/******************************/
/* Order of Service / Styling */
/******************************/

.order-of-service, .styling {
	.head {
		.burger {
			float: right;
			margin-left: 5px;
			color: #777;
			opacity: 0.5;
			cursor: pointer;
			&:hover {
				opacity: 1;
			}
		}
		.name {
			@include line-truncate;
			font-weight: bold;
		}
	}
}

.order-of-service {
	position: relative;

	>* {
		display: flex;
		flex-flow: column;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.head {
		padding: 10px 10px 0;

		// Name display
		.name-service {
			border-bottom: 1px solid transparent;
			margin-bottom: 3px;
			&:hover {
				border-bottom-color: $color-active-light;
			}
		}
		.name-services-list-heading {
			text-transform: uppercase;
			opacity: 0.7;
			font-size: 12px;
			padding-left: 25px;
		}

		// Back
		.back {
			float: left;
			color: $color-active;
			cursor: pointer;
			&:hover {
				color: $color-active-light;
			}
		}

		// Rename
		.rename-save {
			float: right;
			color: #fff;
			border-radius: 3px;
			background-color: $color-active;
			padding: 2px 8px;
			font-size: 12px;
			cursor: pointer;
			position: relative;
			top: -2px;
			&:hover {
				background-color: $color-active-light;
			}
		}
		.input-name-container {
			overflow: hidden;
			padding-right: 5px;
			input {
				width: 100%;
				border: none;
				border-bottom: 1px solid #DDD;
				outline: none;
				font-family: inherit;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: inherit;
			}
		}

	}

	.items, .services {
		flex: 1;
		padding: 0 10px;
		margin-top: 7px;
		overflow-y: scroll;
	}

	.item {
		padding: 5px;
		background-color: #333;
		color: #FFFFFF;
		margin-bottom: 7px;

		.top {
			.display-name {
				@include line-truncate;
			}
		}

		.bottom {
			overflow: hidden;

			.burger {
				float: right;
				margin-left: 5px;
				opacity: 0.7;
			}
			.caption {
				font-size: 10px;
				font-style: italic;
				@include line-truncate;
				height: 18px; // Force height even if empty
			}
		}

		&.selected {
			background: linear-gradient(to bottom right, #000000 30%, #590000 100%);
		}
		&:hover {
			background-color: #222;
		}
	}

	.services {
		li {
			list-style-type: none;
			border-top: 1px solid #eee;
			cursor: pointer;
			position: relative;
			&:last-child {
				border-bottom: 1px solid #eee;
			}
			&.active:before,
			&:hover:before {
				display: block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 4px;
				height: 100%;
			}
			&.active {
				color: $color-active;
				&:before {
					background-color: $color-active;
				}
			}
			&:hover {
				color: $color-active-light;
				&:before {
					background-color: $color-active-light;
				}
			}

			&.create-new-service {
				font-weight: 600;
				letter-spacing: 1px;
				i {
					float: right;
					margin-top: 2px;
				}
			}

			span {
				display: block;
				padding: 7px 10px;
			}
		}
	}
}

.styling {
	padding: 10px;
}

/******************/
/* Page (General) */
/******************/

.page.page-inactive {
	display: none;
}

/****************/
/* Service Page */
/****************/

.page-service {
	display: flex;

	.page-service_left {
		flex-basis: 250px;
	}
	.page-service_middle {
		flex: 1;
		position: relative;
		>* {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
		}
	}
	.page-service_right {
		flex-basis: 250px;
	}
}

.page-service_left {
	border-right: 1px solid #AAA;
	display: flex;
	flex-flow: column;
	.order-of-service {
		flex: 1;
	}
	>* {
		border-top: 1px solid #AAA;
		&:first-child {
			border-top: none;
		}
	}
}

.page-service_middle {
	display: flex;

	.pick-item {
		padding: 40px;
		opacity: 0.4;
		font-size: 18px;
	}

	.item-settings {
		flex-basis: 200px;

		display: flex;
		flex-flow: column;

		.is {
			padding: 10px;
		}

		.head {
			padding-bottom: 3px;
			border-bottom: 1px solid #AAA;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 12px;
		}

		.sequence {
			flex: 1;

			.head {
				overflow: hidden;
				.io-toggle {
					float: right;
				}
				.name {
					@include line-truncate;
				}
			}

			.blocks {

				.block {
					display: inline-block;
					float: left;
					clear: both;
					margin-top: 8px;
					@include lyric-block-name;
				}
			}
		}

		.versions {

			.v-cc {
				margin-top: 3px;

				label {
					display: block;
					margin-top: 4px;
					font-size: 13px;
				}
			}
		}
	}

	.item-contents {
		flex: 1;
		overflow-y: scroll;
		padding: 10px;
		position: relative;

		.os-toggle {

			.toggle {
				display: inline-block;
				font-size: 12px;
				line-height: 16px;
				text-transform: uppercase;
				border-bottom: 3px solid transparent;
				cursor: pointer;
				padding-bottom: 3px;
				margin-right: 5px;
				&:hover {
					color: $color-active-light;
				}
				&.active {
					border-bottom-color: $color-active-light;
					color: $color-active-light;
					cursor: default;
				}
			}
		}

		.lyrics-block {
			margin-top: 10px;
			
			.block-name {
				display: inline-block;
				margin-bottom: 5px;
				@include lyric-block-name;
			}

			.lyrics {
				overflow: hidden;

				.lyric {
					float: left;
					clear: both;
					padding: 3px 10px;
					cursor: pointer;
					border-radius: 4px;
					&:hover {
						color: $color-active-light;
					}
					&.active {
						background-color: $color-active;
						color: #FFF;
						cursor: default;
						font-weight: bold;
					}
				}
			}
		}
	}
}

.page-service_right {
	border-left: 1px solid #AAA;

	.control-panel {
		margin-top: 5px;

		.head {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 12px;
			padding: 5px 10px;
		}

		.miniscreen {
			position: relative;
			overflow: hidden;

			.ember-view, .display-cc {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.display-cc>* {
				position: absolute;
			}
		}

		&.congregation {
			.miniscreen {
				/* For manual/settings override */
				background-color: #000;
				color: #FFF;
				font-weight: bold;
				padding-top: 56.25%;
				text-align: center;
				.lyric {
					left: 5%;
					right: 5%;
				}
				.main.lyric {
					top: 5%;
				}
				.secondary.lyric {
					bottom: 5%;
					font-size: 10px;
					line-height: 14px;
				}
			}

			.controls {
				overflow: hidden;
				.control {
					float: left;
					width: 33.33%;
					padding: 10px 2% 3px;
					text-align: center;
					cursor: pointer;
					&:hover {
						color: $color-active-light;
					}
					.icon {
						font-size: 28px;
						.fa-times {
							font-size: 32px;
							margin-top: -4px;
						}
					}
					.caption {
						font-size: 10px;
						font-weight: bold;
						text-transform: uppercase;
					}
				}
			}
		}

		&.team {
			.miniscreen {
				/* For manual/settings override */
				background-color: #000;
				color: #FFF;
				font-weight: bold;
				padding-top: 56.25%;
				text-align: center;
				.lyrics-cc {
					top: 3%;
					left: 3%;
					right: 3%;
				}
				.lyrics-block {
					position: relative;
					margin: 3%;
					.block-name {
						text-decoration: underline;
						font-size: 12px;
						opacity: 0.65;
					}
					.lyrics {
						.lyric {
							padding: 3px 0;
							opacity: 0.65;
							font-size: 12px;
							&.active {
								opacity: 1;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}

/****************/
/* Library Page */
/****************/


.page-library {
	display: flex;

	.page-library_left {
		flex-basis: 250px;
	}
	.page-library_middle {
		flex: 1;
	}
}

.page-library_left {
	border-right: 1px solid #AAA;
	display: flex;
	flex-flow: column;
	.order-of-service {
		flex: 1;
	}
}

.page-library_middle {
	padding: 10px;

	.library-category-selectors {
		border-bottom: 1px solid #eee;

		>* {
			display: inline-block;
			font-size: 12px;
			line-height: 16px;
			text-transform: uppercase;
			border-bottom: 3px solid transparent;
			cursor: pointer;
			padding-bottom: 3px;
			margin-right: 5px;
		}

		.head {
			opacity: 0.5;
		}

		.library-category-selector {
			color: #000;
			font-weight: bold;
			&:hover {
				color: $color-active-light;
			}
			&.active {
				border-bottom-color: $color-active-light;
				color: $color-active-light;
				cursor: default;
			}
		}
	}

	.library-category-cc {
		margin-top: 10px;
	}
}

.library-category.library-category-inactive {
	display: none;
}

/******************/
/* Library: Songs */
/******************/

.library-category-songs {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.library-songs_list,
.library-songs_preview {
	display: table-cell;
	vertical-align: top;
}
.library-songs_list {
	width: 250px;

	.lsli-miniheading {
		text-transform: uppercase;
		opacity: 0.7;
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 5px;
		text-align: center;
	}

	.lsli {
		list-style-type: none;
		border-top: 1px solid #eee;
		cursor: pointer;
		position: relative;
		padding: 5px 10px;
		&:last-child {
			border-bottom: 1px solid #eee;
		}
		&:hover:before {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 4px;
			height: 100%;
		}
		&:hover {
			color: $color-active-light;
			&:before {
				background-color: $color-active-light;
			}
		}

		&.lsli-create {
			font-weight: 600;
			letter-spacing: 1px;
			padding-top: 14px;
			padding-bottom: 14px;
			i {
				float: right;
				margin-top: 2px;
			}
		}
		span {
			display: block;
		}
		.lsli-description {
			font-size: 10px;
			font-style: italic;
			height: 18px;
			@include line-truncate;
			opacity: 0.8;
		}
	}
}
.library-songs_sidepreview {
	padding-left: 20px;
	.lsp-head {
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
		margin-bottom: 10px;
	}
	.lsp-controls {
		margin-top: 7px;
	}
	.lsp-control {
		display: inline-block;
		color: #fff;
		border-radius: 3px;
		background-color: $color-active;
		padding: 3px 10px;
		cursor: pointer;
		&:hover {
			background-color: $color-active-light;
		}
	}
	.lsp-title {
		font-size: 24px;
		line-height: 30px;
		margin-top: 5px;
	}
	.lsp-description {
		font-style: italic;
	}
	.lsp-id {
		opacity: 0.5;
		font-style: 12px;
	}
}
.library-songs_editor {
	.lse-controls {
		margin-bottom: 3px;
	}
	.lse-control {
		display: inline-block;
		color: #fff;
		border-radius: 3px;
		background-color: $color-active;
		padding: 3px 10px;
		cursor: pointer;
		&:hover {
			background-color: $color-active-light;
		}
	}
	.lse-scroll {
		overflow: scroll;
		display: table;
	}
	.lse-form,
	.lse-preview {
		display: table-cell;
		vertical-align: top;
	}
	.lse-form {
		width: 600px;
	}
	.lse-preview {
		padding-left: 20px;
	}
	.lse-title-cc,
	.lse-description-cc {
		input {
			border: none;
			border-bottom: 1px solid #DDD;
			font-family: inherit;
			outline: none;
			width: 100%;
		}
	}
	.lse-title-cc {
		input {
			font-size: 24px;
			line-height: 30px;
			margin-top: 5px;
		}
	}
	.lse-description-cc {
		margin-top: 5px;
	}
	.lse-lyrics-cc {
		margin-top: 5px;
		textarea {
			border: 1px solid #DDD;
			outline: none;
			width: 100%;
			resize: vertical;
		}
	}
}
.library-songs_previewer {
	overflow: scroll;
	display: table;
	.lspr-lyrics-in-version {
		display: table-cell;
		vertical-align: top;
		padding-right: 20px;
	}
	.lspr-version-name {
		opacity: 0.7;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 5px;
		border-bottom: 1px solid #DDD;
	}
	.lspr-lyrics-block {
		margin-top: 10px;
	}
	.lspr-block-name {
		display: inline-block;
		margin-bottom: 5px;
		@include lyric-block-name;
	}
	.lspr-lyrics {
		overflow: hidden;
	}
	.lspr-lyric {
		float: left;
		clear: both;
		padding: 3px 10px;
		cursor: pointer;
		border-radius: 4px;
	}
}

