@import "fonts";
@import "libs/reset";
@import "mixins";

.top-bar {
	background-color: #F0F0F0;
	border-bottom: #EEEEEE;
	padding: 5px;
}

/*************/
/* Variables */
/*************/

$color-active: #C50000;

/***************/
/* App General */
/***************/

html, body, body>.ember-view, .page {
	height: 100%;
}

.app {
	display: flex;
	flex-flow: column;
	height: 100%;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.2px;

	main {
		flex: 1;
	}

	a {
		text-decoration: none;
	}

	* {
		box-sizing: border-box;
	}
}

header {
	display: flex;
	background: linear-gradient(to bottom, #2d0909 30%, #520000 100%);
	font-size: 16px;
	line-height: 20px;

	nav {
		display: flex;
		a {
			padding: 10px 15px;
			color: rgba(255, 255, 255, 0.9);
			.link {
				opacity: 0.8;
				transition: opacity 150ms ease;
			}
			&:hover {
				.link {
					opacity: 1;
				}
			}
			&.active {
				background-color: rgba(0,0,0,0.5);
				.link {
					opacity: 1;
				}
			}
		}
	}

	.logo {
		padding: 10px 15px;
		text-transform: uppercase;
		letter-spacing: 6px;
		color: #FFFFFF;
		background: -webkit-linear-gradient(#FFF 50%, rgba(255, 255, 255, 0.3));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

main {
	position: relative;

	.page {
		position: absolute;
		width: 100%;
	}
}

/******************************/
/* Order of Service / Styling */
/******************************/

.order-of-service, .styling {
	.head {
		.burger {
			float: right;
			margin-left: 5px;
			color: #777;
		}
		.name {
			@include line-truncate;
			font-weight: bold;
		}
	}
}

.order-of-service {
	display: flex;
	flex-flow: column;

	.head {
		padding: 10px 10px 0;
	}

	.items {
		flex: 1;
		padding: 0 10px;
		margin-top: 7px;
		overflow-y: scroll;
	}

	.item {
		padding: 5px;
		background-color: #333;
		color: #FFFFFF;
		margin-bottom: 7px;

		.top {
			.display-name {
				@include line-truncate;
			}
		}

		.bottom {
			overflow: hidden;

			.burger {
				float: right;
				margin-left: 5px;
				opacity: 0.7;
			}
			.caption {
				font-size: 12px;
				font-style: italic;
				@include line-truncate;
				height: 20px; // Force height even if empty
			}
		}

		&.selected {
			background: linear-gradient(to bottom right, #000000 30%, #590000 100%);
		}
		&:hover {
			background-color: #222;
		}
	}
}

.styling {
	padding: 10px;
}

/****************/
/* Service Page */
/****************/

.page-service {
	display: flex;

	.page-service_left {
		flex-basis: 250px;
	}
	.page-service_middle {
		flex: 1;
		position: relative;
		>* {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
		}
	}
	.page-service_right {
		flex-basis: 250px;
	}
}

.page-service_left {
	border-right: 1px solid #AAA;
	display: flex;
	flex-flow: column;
	.order-of-service {
		flex: 1;
	}
	>* {
		border-top: 1px solid #AAA;
		&:first-child {
			border-top: none;
		}
	}
}

.page-service_middle {
	display: flex;

	.item-settings {
		flex-basis: 200px;

		display: flex;
		flex-flow: column;

		.is {
			padding: 10px;
		}

		.head {
			padding-bottom: 3px;
			border-bottom: 1px solid #AAA;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 12px;
		}

		.sequence {
			flex: 1;

			.head {
				overflow: hidden;
				.io-toggle {
					float: right;
				}
				.name {
					@include line-truncate;
				}
			}

			.blocks {

				.block {
					display: inline-block;
					float: left;
					clear: both;
					margin-top: 8px;
					@include lyric-block-name;
				}
			}
		}

		.versions {

			.v-cc {
				margin-top: 3px;

				label {
					display: block;
					margin-top: 4px;
					font-size: 13px;
				}
			}
		}
	}

	.item-contents {
		flex: 1;
		overflow-y: scroll;
		padding: 10px;
		position: relative;

		.os-toggle {

			.toggle {
				display: inline-block;
				font-size: 12px;
				line-height: 16px;
				text-transform: uppercase;
				border-bottom: 3px solid transparent;
				cursor: pointer;
				padding-bottom: 3px;
				margin-right: 5px;
				&:hover {
					color: $color-active;
				}
				&.active {
					border-bottom-color: $color-active;
					color: $color-active;
					cursor: default;
				}
			}
		}

		.lyrics-block {
			margin-top: 10px;
			
			.block-name {
				display: inline-block;
				margin-bottom: 5px;
				@include lyric-block-name;
			}

			.lyrics {
				overflow: hidden;

				.lyric {
					float: left;
					clear: both;
					padding: 3px 10px;
					cursor: pointer;
					border-radius: 4px;
					&:hover {
						color: $color-active;
					}
					&.active {
						background-color: $color-active;
						color: #FFF;
						cursor: default;
						font-weight: bold;
					}
				}
			}
		}
	}
}

.page-service_right {
	border-left: 1px solid #AAA;

	.control-panel {
		margin-top: 5px;

		.head {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 12px;
			padding: 5px 10px;
		}

		.miniscreen {
			position: relative;
			overflow: hidden;

			.ember-view, .display-cc {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.display-cc>* {
				position: absolute;
			}
		}

		&.congregation {
			.miniscreen {
				/* For manual/settings override */
				background-color: #000;
				color: #FFF;
				font-weight: bold;
				padding-top: 56.25%;
				text-align: center;
				.lyric {
					left: 5%;
					right: 5%;
				}
				.main.lyric {
					top: 5%;
				}
				.secondary.lyric {
					bottom: 5%;
					font-size: 10px;
					line-height: 14px;
				}
			}

			.controls {
				overflow: hidden;
				.control {
					float: left;
					width: 33.33%;
					padding: 10px 2% 3px;
					text-align: center;
					cursor: pointer;
					&:hover {
						color: $color-active;
					}
					.icon {
						font-size: 28px;
						.fa-times {
							font-size: 32px;
							margin-top: -4px;
						}
					}
					.caption {
						font-size: 10px;
						font-weight: bold;
						text-transform: uppercase;
					}
				}
			}
		}

		&.team {
			.miniscreen {
				/* For manual/settings override */
				background-color: #000;
				color: #FFF;
				font-weight: bold;
				padding-top: 56.25%;
				text-align: center;
				.lyrics-cc {
					top: 3%;
					left: 3%;
					right: 3%;
				}
				.lyrics-block {
					position: relative;
					margin: 3%;
					.block-name {
						text-decoration: underline;
						font-size: 12px;
						opacity: 0.65;
					}
					.lyrics {
						.lyric {
							padding: 3px 0;
							opacity: 0.65;
							font-size: 12px;
							&.active {
								opacity: 1;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}

/****************/
/* Library Page */
/****************/


.page-library {
	display: flex;

	.page-library_left {
		flex-basis: 250px;
	}
	.page-library_middle {
		flex: 1;
	}
}

.page-library_left {
	border-right: 1px solid #AAA;
	display: flex;
	flex-flow: column;
	.order-of-service {
		flex: 1;
	}
}

.page-library_middle {
	padding: 10px;

	.library-category-selectors {

		.head, a {
			display: inline-block;
			font-size: 12px;
			line-height: 16px;
			text-transform: uppercase;
			border-bottom: 3px solid transparent;
			cursor: pointer;
			padding-bottom: 3px;
			margin-right: 5px;
		}

		.head {
			opacity: 0.5;
		}

		a {
			color: #000;
			font-weight: bold;
			&:hover {
				color: $color-active;
			}
			&.active {
				border-bottom-color: $color-active;
				color: $color-active;
				cursor: default;
			}
		}
	}

	.library-category-cc {
		margin-top: 10px;
	}
}
