<div class="app">
	<header>
		{{#link-to 'index'}}
			<div class="logo">Psalmist</div>
		{{/link-to}}
		<nav>
			{{#link-to 'service'}}
				<div class="link">Service</div>
			{{/link-to}}
			{{#link-to 'library'}}
				<div class="link">Library</div>
			{{/link-to}}
		</nav>
	</header>
	<main>
		{{outlet}}
	</main>
</div>
